body {
  font-family: "Montserrat";
}
#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 2.5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
}

.features {
  text-align: center;
  padding: 8% 2%;
}

.features p:first-of-type {
  color: orange;
}

.features p:first-of-type:hover {
  color: red;
}
.feature-row {
  justify-content: space-evenly;
  align-content: center;
}

/* .col-lg-6 img {
  transform: rotate(30deg);
}

.navbar-nav li {
}

.row {
  margin-top: 3rem;
}

.navbar-brand {
  font-size: 2rem;
  font-family: "Ubuntu";
}

.btn {
  margin-top: 2rem;
}

.nav-link {
  margin: 0 1rem;
} */
